a {
    text-decoration: underline;
    cursor: pointer;
    color: #2176FF;
}

a:hover {
    text-decoration: none;
    background-color: #fff;
    box-shadow: 8px 8px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}

a:active {
    box-shadow: 0px 0px;
    background-color: #2176FF;
    border: 1px solid #2176FF;
    color: #fff;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    box-shadow: 4px 4px;
}

.nav-link:active {
    background-color: #736B92;
    color: #fff;
    border: 1px solid #736B92;
}

.btn {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .8);
    padding: .5%;
}